body {
  font-size: 2rem;
  width: 100%;
  background-color: rgb(233, 233, 233);
  margin: auto;
  padding: 0.3rem;
}
header {
  display: flex;
  background-color: #cbd3e43d;
  color: rgb(138, 174, 175);
  padding: 10px;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
}

footer {
  padding: 0;
  margin: 0;
}

.spots {
  display: none;
}

.logotype-searchbar-container {
  display: flex;
  flex-direction: column;
}

.logotype img {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: auto;
  padding: 3px;
  margin: 5px;
}

.search-icons {
  font-size: 1.5rem;
  display: flex;
}

.bi-suit-heart-fill {
  padding: 3px;
  color: rgb(200, 107, 107);
}

.bi-basket2-fill {
  color: rgb(97, 86, 86);
  padding: 0;
}

.searchbar {
  width: 74%;
  display: flex;
  flex-grow: 1;
  border-radius: 15px;
  border: 2px solid rgb(178, 153, 153);
  margin-bottom: 20px;
}

.heart-basket {
  height: 40px;
}

#search-input {
  outline: none;
  width: 100%;
  font-size: 1rem;
  border: none;
  border-radius: 15px;
  background-color: #cbd3e400;
  color: rgb(178, 153, 153);
}

#search-input::placeholder {
  color: rgb(178, 153, 153);
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

button i {
  font-size: 1.6rem;
}

.search-button {
  margin-left: 10px;
}

.bi-search-heart {
  color: rgb(178, 153, 153);
}

.navigation-list a {
  font-size: 1rem;
  font-style: italic;
  color: rgb(138, 174, 175);
  text-decoration: none;
  text-align: left;
}

.hero-container {
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px ridge rgb(178, 153, 153);
  padding: 10px;
  margin: 20px auto;
  width: 100%;
  background-color: rgba(138, 174, 175, 0.293);
}

.header-hero {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
  color: rgb(178, 153, 153);
}

#hero {
  max-width: 100%;
  height: 100%;
  border-radius: 10px;
}

.hero-text {
  font-style: italic;
  font-size: 1.8rem;
  margin-top: 10px;
  text-align: center;
  color: rgb(178, 153, 153);
}

.arrow-line {
  padding: 10px;
  margin-top: 10%;
  font-size: 5rem;
  color: rgb(138, 174, 175);
}

.new-badge {
  color: rgb(255, 255, 255);
  background-color: rgb(138, 174, 175);
  position: relative;
  top: 5rem;
  right: 5rem;
  padding: 2px;
  z-index: 10;
  font-size: 30px;
  border-radius: 20px;
}

.clothing-images {
  color: rgb(178, 153, 153);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 4px;
  border-radius: 8px;
}

.clothing-images,
.image-description {
  margin-bottom: 20px;
}

.clothing-images img {
  max-width: 400px;
  width: 100%;
  height: auto;
  border-radius: 50%;
  object-fit: contain;
}

.image-description {
  position: relative;
  padding: 10px;
  right: 5.5rem;
  margin-top: 10px;
  font-size: 1rem;
}

.overlay-icon,
.t-heart {
  position: relative;
  bottom: 12rem;
  left: 8.5rem;
  font-size: 3rem;
  color: rgb(138, 174, 175);
  padding: 2px;
  cursor: pointer;
}

.t-heart:hover {
  animation-name: fade;
  animation-duration: 2s;
}
@keyframes fade {
  from {
    font-size: 3rem;
  }
  to {
    font-size: 0rem;
  }
}

.price {
  color: rgb(163, 162, 164);
  position: relative;
  bottom: 12rem;
  left: 7rem;
  font-size: 25px;
  font-weight: bold;
}

.shipping-icons li {
  display: flex;
  align-items: center;
  padding: 10px;
  font-style: italic;
  font-weight: 600;
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.601);
  list-style: none;
  gap: 10px;
}

.bi-globe,
.bi-lightning-fill,
.bi-shield-shaded,
.bi-emoji-smile {
  font-size: 3rem;
}

.accordion-button {
  border: rgba(0, 0, 0, 0.444) groove;
}

.accordion-body a {
  font-size: 1rem;
  display: flex;
  padding: 0;
  margin: 0;
  color: rgb(85, 80, 70);
  background-color: white;
  text-decoration: none;
}

.accordion-body h2 {
  display: none;
}

ul {
  list-style-type: none;
  padding: 0;
}
.footer-flex-container {
  border-color: rgb(138, 174, 175);
  border: groove;
  font-size: 10px;
  text-align: center;
  padding: 10px;
}

.accordion-footer {
  font-size: 15px;
  display: none;
}

@media (min-width: 768px) {
  body {
    font-size: 2.2rem;
  }

  header {
    font-size: 2rem;
    padding: 10px;
    display: flex;
  }

  .logo-search-icon {
    display: flex;
    gap: 20px;
  }

  .search-icons {
    margin-top: 2.6rem;
    flex-grow: 1;
    height: 100%;
  }

  .searchbar {
    width: 100%;
    height: auto;
  }

  .heart-basket {
    display: flex;
    gap: 10px;
    margin-left: 50px;
  }

  .logotype {
    width: 100%;
    height: auto;
    max-width: 250px;
  }

  .navigation-list {
    margin-top: 20px;
    font-size: 1.4rem;
    display: flex;
    gap: 25px;
    padding: 0;
  }

  .hero-container {
    width: 100%;
    margin: 0;
    margin-right: 15px;
  }

  #hero {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: top center;
  }

  .hero-text {
    font-size: 1.5rem;
  }

  .product-card-container {
    margin-right: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .clothing-images {
    width: 100%;
    height: auto;
    margin: 10px;
  }

  .clothing-images img {
    margin-bottom: 10px;
    border-radius: 10%;
  }

  .new-badge {
    width: 100%;
    display: flex;
    height: 50px;
    max-width: 6rem;
    font-size: 1.9rem;
    top: 6rem;
    right: 19rem;
  }

  .overlay-icon,
  .t-heart {
    bottom: 240px;
    left: 130px;
  }

  .t-heart:hover {
    animation-name: fade;
    animation-duration: 2s;
  }
  @keyframes fade {
    from {
      font-size: 3rem;
    }
    to {
      font-size: 0rem;
    }
  }

  .price {
    color: rgb(0, 0, 0);
    display: flex;
    font-size: 1.3rem;
    font-weight: bold;
  }

  .image-description {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    right: 100px;
  }

  .shipping-icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 19%;
    margin-right: 10%;
  }

  .shipping-icons li {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .bi-globe,
  .bi-lightning-fill,
  .bi-shield-shaded,
  .bi-emoji-smile {
    font-size: 3rem;
  }

  .accordion {
    display: none;
  }

  .footer-flex-container {
    margin-left: 3px;
    background-color: rgba(128, 128, 128, 0.42);
  }
  .footer-flex-container p {
    font-size: 15px;
  }

  .accordion-footer {
    font-size: 0.9rem;
    display: flex;
    align-items: start;
  }

  .accordion-footer {
    justify-content: flex-start;
    gap: 50px;
    color: black;
    margin-top: 20px;
  }

  .accordion-footer a {
    display: flex;
    font-style: italic;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }

  .spots {
    display: none;
  }

  @media (min-width: 1024px) {
    .searchbar {
      margin-right: 300px;
    }

    .hero-container {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-evenly;
    }

    #hero {
      max-width: 500px;
      height: 350px;
      width: 100%;
    }

    .hero-text {
      font-size: 1.5rem;
      margin-bottom: 13rem;
    }
    .header-hero {
      font-size: 3rem;
    }

    .arrow-line {
      display: none;
    }

    .spots {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .spots img {
      margin-top: 20px;
      width: 95%;
      object-fit: cover;
      height: 250px;
      border: black solid 2px;
      margin-right: 4rem;
    }

    .spot1-text,
    .spot2-text,
    .spot3-text {
      position: absolute;
      border: rgb(178, 153, 153) groove 5px;
      border-radius: 50%;
      color: rgb(138, 174, 175);
      font-size: 3rem;
      background-color: rgba(178, 153, 153, 0.358);
      text-align: center;
      font-family: Garamond, serif;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;
      font-style: oblique;
    }

    .spot1-text {
      bottom: 110px;
      margin-left: 60px;
    }

    .spot2-text {
      bottom: 110px;
      margin-left: 50px;
    }

    .spot3-text {
      bottom: 110px;
      margin-left: 75px;
    }

    .product-card-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: space-evenly;
    }

    .clothing-images {
      display: flex;
      justify-content: space-evenly;
    }

    .image-description {
      font-size: 15px;
    }

    .clothing-images img {
      border: rgb(163, 162, 164) groove 2px;
      justify-content: space-evenly;
    }

    .t-heart,
    .overlay-icon {
      bottom: 170px;
      font-size: 2rem;
    }

    .t-heart:hover {
      animation-name: fade;
      animation-duration: 2s;
    }
    @keyframes fade {
      from {
        font-size: 2rem;
      }
      to {
        font-size: 0rem;
      }
    }

    .new-badge {
      width: 100%;
      width: 60px;
      height: 35px;
      display: flex;
      position: absolute;
      font-size: 1.2rem;
      top: 45rem;
      left: 1rem;
    }

    .t-heart,
    .overlay-icon {
      position: relative;
      left: 6rem;
      bottom: 11.5rem;
    }

    .price {
      position: relative;
      left: 5rem;
      bottom: 10rem;
      font-size: 1rem;
    }

    .image-description {
      bottom: 0.5rem;
      right: 3rem;
    }

    .image-description h3 {
      font-size: 1.3rem;
    }

    .shipping-icons {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 0;
      padding: 0 50px 0 50px;
    }

    .shipping-icons li {
      align-items: center;
      font-size: 1rem;
      margin-bottom: 2rem;
    }

    .accordion-footer {
      font-size: 0.8rem;
      padding: 20px;
      margin-bottom: 50px;
    }

    .bi-globe,
    .bi-lightning-fill,
    .bi-shield-shaded,
    .bi-emoji-smile {
      display: flex;
      justify-content: space-between;
    }

    @media (min-width: 1280px) {
      .searchbar {
        margin-right: 30rem;
      }

      .hero-container {
        width: 80%;
      }

      .new-badge {
        position: absolute;
        left: 4rem;
        top: 45rem;
      }

      .spots {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
      }

      .price {
        position: relative;
        left: 6rem;
      }

      .t-heart:hover {
        animation-name: fade;
        animation-duration: 5s;
      }
      @keyframes fade {
        from {
          font-size: 2rem;
        }
        to {
          font-size: 0rem;
        }
      }

      .t-heart,
      .overlay-icon {
        bottom: 12rem;
        left: 9rem;
        position: relative;
        font-size: 2rem;
      }

      .image-description {
        position: relative;
        right: 5rem;
      }
    }
  }
}
